

.bulkpurchase-backend {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.bulkpurchase-backend h1 {
  color: #333;
  margin-bottom: 20px;
}

.bulkpurchase-backend .field,
.bulkpurchase-backend .add-products {
  margin-bottom: 20px;
}

.bulkpurchase-backend .field label,
.bulkpurchase-backend .add-products label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #444;
}

.bulkpurchase-backend .field input[type="text"],
.bulkpurchase-backend .add-products input[type="text"],
.bulkpurchase-backend #category_select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s;
}

.bulkpurchase-backend .field input[type="text"]:focus,
.bulkpurchase-backend .add-products input[type="text"]:focus,
.bulkpurchase-backend #category_select:focus {
  border-color: #007bff;
  outline: none;
}

#customer_search_results,
#product_search_results {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fafafa;
  display: none; /* Скрываем по умолчанию */
}

.search-results div,
.selected-customer,
.selected-product {
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.search-results div:last-child {
    margin-bottom: 0;
}
.search-results div:hover {
  background-color: #eef;
  cursor: pointer;
}
.markup-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
input#markup_percent {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: border-color 0.3s;
  margin-top: 10px;
}
